New-VM -Name {{.Name}} -NoVHD {{ if .Path }}-Path "{{.Path}}" {{ end }}{{ if .MemoryStartupBytes }}-MemoryStartupBytes {{.MemoryStartupBytes}} {{ end }}{{ if .Generation }}-Generation {{.Generation}} {{ end }}{{ if .BootDevice }}-BootDevice {{.BootDevice}} {{ end }} -Force | ConvertTo-Json


{{/* TODO: Make file more redable */}}
{{/* TODO: Add Add-VMDvdDrive */}}
{{/* TODO: Add Add-VMHardDiskDrive */}}
{{/* TODO: Add Add-VMNetworkAdapter */}}
{{/* TODO: Add Add-VMSwitch */}}