# Set Required parameters for VM creation
$vmParams = @{
    Name = {{.Name}}
    NoVHD = $true
    Force = $true
}

# Set optional parameters for VM creation
{{ if .Path }}$vmParams["Path"] = "{{.Path}}"{{ end }}
{{ if .MemoryStartupBytes }}$vmParams["MemoryStartupBytes"] = {{.MemoryStartupBytes}}{{ end }}
{{ if .Generation }}$vmParams["Generation"] = {{.Generation}}{{ end }}
{{ if .BootDevice }}$vmParams["BootDevice"] = "{{.BootDevice}}"{{ end }}


# Combind all parameters 
$vm = New-VM @vmParams
$vm | ConvertTo-Json


{{/* TODO: Make file more redable */}}
{{/* TODO: Add Add-VMDvdDrive */}}
{{/* TODO: Add Add-VMHardDiskDrive */}}
{{/* TODO: Add Add-VMNetworkAdapter */}}
{{/* TODO: Add Add-VMSwitch */}}